/*********************************
  css/layout.css
*********************************/

/* font.css 불러오기 */
@import url(font.css);

/* 초기화 */
* { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; color: #111; }
body * {box-sizing: border-box;}

/* 전체 구조 -- FULL-WIDTH */
body {
  width: 100%; height: 100%;
  position: fixed;
}

/* 배경 동영상 고정 */
.vid {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  
}
.vid video {
	min-width : 100%;
	min-height : 100%;
}

/* 배경 레이어 - 패턴(ptn.png) */
.layer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url('../images/ptn.png');
}

/* 로고 */
#logo {
  top: 50px; left: 50px;
  position: fixed;
  z-index: 10000;
}
#logo img {
  width: 250px;
}

/* 헤더(선형 그레이디언트 적용, -45deg, #df6, #cf1, #ae5) */
header {
  background-image: linear-gradient(-45deg, #df6, #cf1, #ae5);
  position: fixed;
  width: 300px; height: 100%;
  z-index: 100;
  background-color: #cf1;  
}

/* 내비게이션(상단으로부터 200px 위치, 너비 200) */
#gnb {
  position: absolute;
  width: 200px;/*  height: 00px; */
  top: 200px;
  right: 0px;
}
#gnb li {
  /* width: 100%; */
  position: relative;
}

/* 메인메뉴(1차-높이 50) */
#gnb > li > a {
  /* display: block;
  height: 50px;
  font-size: 18px; */
  width: 100%;
  height: 50px;
  display: block;
  color: #222;
  text-align: right;
  padding-right: 20px;
  font-size: 20px;
  line-height: 2.5;
  font-weight: bold;
}
#gnb em {
  /* transform: skew(40deg);
  display: block;
  line-height: 50px;
  font-weight: bold; */
  display: block;
}

/* 호버 스타일 */
#gnb > li:hover > a {
  /*background-color: #111; color: #fff;*/
  background-color: #111;
  color: #fff;
}

/* 서브메뉴(2차) */
#gnb > li > ul {
  /* font-size: 18px; font-weight: bold; */
  position: absolute;
  top: 0; left: 0;
}
/* #gnb > li > ul >li{
  background-color: #292828;
  border-bottom: 1px solid #cf1;
}
#gnb > li > ul >li:hover {
  background-color: #cf1;
} */
#gnb > li > ul > li > a {
  /* background-color: #292828;
  color: #fff; */
  width: 150px;
  height: 50px;
  display: block;
  background-color: #222;
  color: #fff;
  font-size: 20px;
  line-height: 2.5;
  font-weight: bold;
  border-bottom: 1px solid #cf1;
}

/* 서브메뉴를 메인메뉴의 우측에 배치 */
#gnb > li > ul {
  /* position: absolute; left: 200px;
  height: 50px; line-height: 50px;
  width: 200px; white-space: nowrap;
  top: 50px;
  padding: 0; */
  left: 100%;
}

/* 서브메뉴 숨기기 */
#gnb > li > ul {
  /* display: none; */
  width: 0;
  visibility: hidden;
  opacity: 0;
}

/* 메인메뉴 호버시 서브메뉴 보이기 */
#gnb > li:hover > ul {
  /* display: block; */
  visibility: visible;
  opacity: 1;
  width: auto;
}

/* 서브메뉴 전환 효과(0.6초) */
#gnb > li > ul {
  transition: all 0.6s;
}

/* 서브메뉴 호버 효과 */
#gnb ul a:hover {
  color: #222;
  background-color: #cf1;
}

/*
  SNS(상단으로부터 50, 우측에서 50)
*/

#sns {
  /* position: absolute;
  top: 50px; right: 50px; */
  position: fixed;
  top: 50px;
  right: 50px;
}

/* 아이콘 가로 배치(아이콘 간격은 30) */
#sns li {
  /* display: inline;
  margin-right: 30px; */
  float: left;
  margin-right: 30px;
}

/* 아이콘 스타일(기준 글자 크기의 2배) */
#sns .fa {
  /* font-size: 2rem; color: #df6;
  filter: brightness(50%); */
  font-size: 2rem;
  color: #cf1;
  opacity: 0.5;
}

#sns .fa:hover {
  /* filter: brightness(100%); */
  opacity: 1;
}

/* 
  타이포그래피 슬로건(350x200, 상단으로부터 250, 우측으로부터 250)
  strong 태그 글꼴 Arial, Helvetica, sans-serif
 */

 .slogan {
    /* position: absolute;
    top: 250px; right: 250px; */
    position: fixed;
    top: 250px;
    right: 250px;
    width: 350px;
    height: 200px;
 }

 .slogan .tit {
    /* text-align: right;
    color: #cf1;
    font-size: 150px;
    height: 150px;
    line-height: 150px; */
    color: #cf1;
    text-align: right;
    letter-spacing: -2px;
    line-height: 1;
 }
 .slogan .tit em {
   /*  color: white; font-size: 68px; */
   color: #fff; 
  }

 .slogan .txt {
    /* text-align: center;
    font-size: 33px;
    color: white; */
    font-size: 2rem;
    color: #ddd;
    text-align: right;
    letter-spacing: -1px;
 }
 .slogan .txt strong {
    /* font-family: Arial, Helvetica,  sans-serif;
    color: #cf1; */
    color: #cf1;
    font-family: Arial, Helvetica,  sans-serif;
    margin-left: 1rem;
 }

/* 
  우측 사이드바(기본 너비 400)
*/

#side {
  /* width: 400px; height: 700px;
  filter: opacity(50%);
  position: absolute;
  background-color: #333;
  right: 0; bottom: 0;
  overflow: hidden; */
  background-color: #111;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 400px;
  opacity: 0.5;
}
#side .con {
  /* width: 350px; height: 700px;
  background-color: #222;
  position: absolute;
  right: 0; */
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  bottom: 0;
  left: 150px;
  padding: 10px;
}

/* 사이드바 호버시 배너 영역 이동(기준 위치에서 우측으로 50) */
#side:hover .con { /* right: 50px; */ left: 50px; }
#side .con { /* position: absolute; */ transition: all 0.6s; }

/* 사이드바 내부 배너(300x100, 우측으로 50px 이동) */
#side .con p {
  /* display: block;
  width: 300px; height: 100px;
  bottom: 0;
  right: 0;
  position: absolute; */
  position: absolute;
  width: 300px;
  height: 100px;
  left: 50px;
}
#side .con p em {
  /* font-style: normal;
  color: #cf1; */
  color: #cf1;
  display: inline-block;
  line-height: 1.5;
}
#side .con p img {
  width: 100%;
  height: 70px;
  opacity: 0.3;
}

/* 겹쳐진 배너 이미지 재배치 */
#side .con p:nth-child(3) { bottom: 50px; }
#side .con p:nth-child(2) { bottom: 160px; }
#side .con p:nth-child(1) { bottom: 270px; }

/* 사이드바 배너 호버 효과 */
#side .con p img:hover { opacity: 1; }
#side .con p img { transition: all 0.6s; }

/* 모션 아이콘 (<<, 너비 150, 높이 50, 기준 글자 크기의 5배) */
#side .btn {
  /* position: absolute;
  bottom: 400px;
  width: 150px;
  height: 50px;
  font-size: 5em; */
  color: #cf1;
  width: 150px;
  height: 50px;
  position: absolute;
  bottom: 50px;
  left: -50px;
}
#side .btn i {
 /* float: left; */
  font-size: 5rem;
  opacity: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* 사이드바 호버시 아이콘 우측으로 내보내기 */
#side:hover .btn { left: 100%; }
#side .btn { transition: all 0.6s; }

/* 사이드바 우측으로 내보내기 */
#side { right: -200px; }

/* 사이드바 호버시 좌측으로 들어오기 */
#side:hover { right: 0; }
#side { transition: all 0.6s; }

/* 배너 이미지 시간차 등장 */
#side .con p { transform: translateX(200px); }
#side:hover .con p { transform: translateX(0); }

#side .con p:nth-child(1) { transition: all 0.4s; }
#side .con p:nth-child(2) { transition: all 0.8s; }
#side .con p:nth-child(3) { transition: all 1.2s; }

/* 아이콘 모션 */
@keyframes blink {
  0% { 
    right: 0; transform: scale(1); opacity: 1;
  }
  100% {
    right: 100%; transform: scale(1.5); opacity: 0;
  }
}

.btn i { animation: blink 1.5s linear infinite; }
.btn i:nth-child(1) { animation-delay: 0s; }
.btn i:nth-child(2) { animation-delay: 0.4s; }
.btn i:nth-child(3) { animation-delay: 0.8s; }

/* 
  구조 변경
 */

 /* 헤더(너비 700, 기울이기 -40) */
 header {
  /* transform: rotate(40deg); width: 700px; */
    width: 700px;
    transform: skewX(-40deg);
    top: 0;
    left: -450px;
 }

 /* 내비게이션 텍스트 원래 상태로 */
 #gnb em { transform: skewX(40deg);  }

/* 우측 사이드바(너비 800, 기울이기 -40) */
#side {
  /* width: 800px; */
  /* transform: skewX(-40deg);
  position: absolute; */
  width: 800px;
  transform: skewX(-40deg);
  right: -800px;
}
#side:hover {
  right: -600px;
  opacity: 0.8;
}

/* 배너 텍스트 원래 상태로 변경 */
#side .con p em {
  transform: skewX(40deg);
}

/* 모션 아이콘 원래 상태로 변경 */
#side .btn {
  transform: skewX(40deg);
}